pause_for_switchover:
  name: ambient_music.pause_for_switchover.name
  description: ambient_music.pause_for_switchover.description
  fields:
    entity_id:
      name: ambient_music.entity_id.name
      description: ambient_music.entity_id.description
      required: false
      selector:
        entity:
          domain: media_player
          multiple: true
    blockers_cleared:
      name: ambient_music.blockers_clear.name
      description: ambient_music.blockers_clear.description
      required: false
      default: true
      selector:
        boolean:

play_current_playlist:
  name: ambient_music.play_current_playlist.name
  description: ambient_music.play_current.playlist.description
  fields:
    entity_id:
      name: ambient_music.entity_id.name
      description: ambient_music.entity_id.description
      required: false
      selector:
        entity:
          domain: media_player
          multiple: true
    blockers_cleared:
      name: ambient_music.blockers_clear.name
      description: ambient_music.blockers_clear.description
      required: false
      default: true
      selector:
        boolean:
    fade_up_duration:
      name: ambient_music.play_current_playlist.fields.fade_up_duration.name
      description: ambient_music.play_current_playlist.fields.fade_up_duration.description
      required: false
      selector:
        number:
          min: 0
          max: 60
          step: 1
    target_volume:
      name: ambient_music.play_current_playlist.fields.target_volume.name
      description: ambient_music.play_current_playlist.fields.target_volume.description
      required: false
      selector:
        number:
          min: 0
          max: 1
          step: 0.01
    curve:
      name: ambient_music.play_current_playlist.fields.curve.name
      description: ambient_music.play_current_playlist.fields.curve.description
      required: false
      default: logarithmic
      selector:
        select:
          options:
            - logarithmic
            - bezier
            - linear

stop_playing:
  name: Stop playing
  description: Fades volume down to 0 using Ambient Music settings and pauses playback.
  fields:
    entity_id:
      name: ambient_music.entity_id.name
      description: ambient_music.entity_id.description
      required: false
      selector:
        entity:
          domain: media_player
          multiple: true

fade_volume:
  name: ambient_music.fade_volume.name
  description: ambient_music.fade_volume.description
  fields:
    entity_id:
      name: ambient_music.entity_id.name
      description: ambient_music.entity_id.description
      required: false
      selector:
        entity:
          domain: media_player
          multiple: true
    target_volume:
      name: ambient_music.fade_volume.fields.target_volume.name
      description: ambient_music.fade_volume.fields.target_volume.description
      required: true
      selector:
        number:
          min: 0
          max: 1
          step: 0.01
    duration:
      name: ambient_music.fade_volume.fields.duration.name
      description: ambient_music.fade_volume.fields.duration.description
      required: true
      selector:
        number:
          min: 0
          max: 120
          step: 1
    curve:
      name: ambient_music.fade_volume.fields.curve.name
      description: ambient_music.fade_volume.fields.curve.description
      required: false
      default: logarithmic
      selector:
        select:
          options:
            - logarithmic
            - bezier
            - linear